<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>El Tio Taxis</title>
  <link rel="icon" href="taxi.png" type="image / icon type">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/Estilos.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

</head>

<body>
    <div id="container">
        <header id="gorro">
          <img class="animate__animated animate__fadeIn" src = "/img/gorrotaxi.png" />
        </header>
        <header>
          <h1 class="animate__animated animate__fadeIn">El Tio Taxis
          <img src="/img/taxipeq.png"/>
          </h1>
        </header>
        
        <label for="start">Start date:</label>   
        <input type="datetime-local" id="start" name="trip-end">
        <br>
        <label for="end">End date: </label>
        <input type="datetime-local" id="end" name="trip-end">
        <a class="Enviar" id="Enviar" onclick="Enviar()">Consultar</a>
        <a class= "index" href="/">Volver a pagina de inicio</a>
        <br>
        <br>
        
    <div id="mapid"></div>   
    <footer>
        El Tío Taxi &copy; 2021
     </footer>  
     
</div>
</body>

<script>
   const mymap = L.map('mapid').setView([10.9861045, -74.80928094], 13);
        var polyline = L.polyline([["0", "0"]], { color: "black" }).addTo(mymap)
        const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, {
            attribution
        });
        tiles.addTo(mymap);

        $("#Enviar").click(async function () {
            var start =$("#start").val()
            var end=$("#end").val()
            const response = await fetch(`http://52.14.65.236/api/polyline/${start};${end}`)
            const data = await response.json();
            const {rows} = data;
            var latlon=Array(rows.length)
            
            for (i = 0;i<rows.length;i++){
                latlon[i]=([rows[i].Latitud,rows[i].Longitud])    
            }

            polyline.setLatLngs([latlon])

        })

</script>

</html>