<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<title>El Tio Taxis</title>
		<link rel="icon" href="/img/taxi.png" type="image / icon type" />
		<!--Leaflet-->
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
		/>
		<script
			src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""
		></script>
		<!--Ajax-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/Estilos2.css" />
		<!--Animated-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<!--Pluguins-->
		<script src="bundle.js"></script>
		<!--ip-->
		<script type="text/javascript" src="ip.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<!-- incializar el pop up-->
		<div class= "container-all" id="modal">

			<div class="popup">
				<header id="head2">
					<label for="name" >Deslice radio entre (0 a 5 km): </label>
					<input
					name="searchTxt"
					min="0"
					max="5"
					step="0.5"
					type="range"
					maxlength="512"
					id="radius"
					class="slider"
					value="1"				
					
					oninput = "document.getElementById ('out').value = value"

					
					/>
					<output id = "out" for= "name">1</output>
					<h2 style="font-size: 15px">
						Arrastre el marcador a un lugar del mapa para consultar.
					</h2>
					
				</header>
				<div id="mapid2"></div>	
				
			   

			   <!--Mapa leaflet-->
   
			
			   
			   <a id = "cerrarradio" href="#" class="btn-close-popup"> X </a>
			   </div>
		   
		   </div>
	   		
		</div>
	</div>
	<!--Logo central-->
	<!--El tio taxi + logo-->
<div>	
	<div class="head">		
		<div class="wrap">
			<div class="logo">
				<img src="/img/logo.png">
				EL TIO TAXIS
			</div>
			<div class="navbar">
				<a id="consultR" href="#modal"><i class="fa fa-fw fa-search"></i> Consulta Radial</a>
				<a  href="/"><i class="fa fa-fw fa-home"></i> Home</a>
				
			</div>
		</div>
	</div>
		<!--Calendarios-->
	<div class="calendarios">
		<label for="start">Fecha Inicial:</label>
		<input type="datetime-local" id="start" name="trip-end" onkeydown="return false" />
		<br />
		<label for="end">Fecha Final: </label>
		<input type="datetime-local" id="end" name="trip-end" onkeydown="return false" />
		<br />
		<!--Taxis-->
		<div class="content-select">
			<label for="content-select">Seleccione Taxi:</label>
			<select name="taxi" id="taxi_id">
				<option value="1">Ninguno</option>
				<option value="2">Taxi#1</option>
				<option value="3">Taxi#2</option>
				<option value="4">Ambos</option>
			</select>
			<i></i>
		</div>
	</div>
	<!--Botones-->
	<div>
	
	
	
	<!--Mapa-->
	<div id="mapid3"></div>
	<footer id="footer2">El Tío Taxi &copy; 2021</footer>
</div>
</div>	
	</body>

	<script>
		//Obtener fecha de hoy

		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth() + 1; //enero es 0!
		var yyyy = today.getFullYear();
		var hora = today.getHours() + ":" + today.getMinutes();
		if (dd < 10) {
			dd = "0" + dd;
		}
		if (mm < 10) {
			mm = "0" + mm;
		}
		today = yyyy + "-" + mm + "-" + dd + "T" + hora;

		//Inicialziar el segundo calendario con la fecha de hoy
		document.getElementById("end").value = today;

		// Seleccionar maximo y minimo para los calendarios segun las fechas seleccionadas
		$("#end").click(async function () {
			document.getElementById("end").min = $("#start").val();
			//Definir que la fecha maxima por defecto sea la del dia de hoy
			document.getElementById("end").max = today;
		});
		$("#start").click(async function () {
			document.getElementById("start").max = $("#end").val();
		});

		//Inicializar mapa lealflet
		const mymap = L.map("mapid3").setView([10.9861045, -74.80928094], 12);
		customIcon = new L.Icon({
			iconUrl: "/img/circle.png",
			iconSize: [6, 6]
		});
		customIcon2 = new L.Icon({
			iconUrl: "/img/circlea.png",
			iconSize: [6, 6]
		});
		const attribution =
			'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
		const tileUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
		const tiles = L.tileLayer(tileUrl, {
			attribution
		});
		tiles.addTo(mymap);
		//Inicializar polilinea
		let polyline1 = L.polyline
			.antPath([["0", "0"]], {color: "black", delay: 1000})
			.addTo(mymap);
		let polyline2 = L.polyline
			.antPath([["0", "0"]], {color: "#ffee00", delay: 1000})
			.addTo(mymap);
		//document.getElementById("taxi_id").value = 3;
		//Funcion que ejecuta el boton de consultar

		$("#taxi_id").on("click", async function taxis() {
			var start = $("#start").val();
			var end = $("#end").val();
			//Diferenciar entre taxis
			if ($("#taxi_id").val() == "1") {
				$(".leaflet-marker-icon").remove();
				$(".leaflet-popup").remove();
				polyline1.remove();
				polyline2.remove();
			}
			if ($("#taxi_id").val() == "2") {
				//Fetch a la api con los rangos de los calendarios
				const response1 = await fetch(`http://${ip}/api/polyline/${start};${end};1`, {
					mode: "cors",
					headers: {
						"Access-Control-Allow-Headers": "Content-Type",
						"Access-Control-Allow-Origin": "*",
						"Access-Control-Allow-Methods": "OPTIONS,POST,GET"
					}
				});

				getpolyline1(response1);
				$(".leaflet-marker-icon").remove();
				$(".leaflet-popup").remove();
				polyline2.remove();
			}
			if ($("#taxi_id").val() == "3") {
				const response2 = await fetch(`http://${ip}/api/polyline/${start};${end};2`, {
					mode: "cors",
					headers: {
						"Access-Control-Allow-Headers": "Content-Type",
						"Access-Control-Allow-Origin": "*",
						"Access-Control-Allow-Methods": "OPTIONS,POST,GET"
					}
				});

				getpolyline2(response2);
				$(".leaflet-marker-icon").remove();
				$(".leaflet-popup").remove();
				polyline1.remove();
			}
			if ($("#taxi_id").val() == "4") {
				const response1 = await fetch(`http://${ip}/api/polyline/${start};${end};1`, {
					mode: "cors",
					headers: {
						"Access-Control-Allow-Headers": "Content-Type",
						"Access-Control-Allow-Origin": "*",
						"Access-Control-Allow-Methods": "OPTIONS,POST,GET"
					}
				});
				const response2 = await fetch(`http://${ip}/api/polyline/${start};${end};2`, {
					mode: "cors",
					headers: {
						"Access-Control-Allow-Headers": "Content-Type",
						"Access-Control-Allow-Origin": "*",
						"Access-Control-Allow-Methods": "OPTIONS,POST,GET"
					}
				});
				getpolyline1(response1);
				getpolyline2(response2);
			}
			//Funcion para la creacion de la polylinea

			async function getpolyline1(response1) {
				const data1 = await response1.json();
				const {rows} = data1;
				//Si no hay datos, se muestra una alarma
				if (rows[0] == undefined) {
					alert("El rango escogido no contiene datos para taxi#1 consulte nuevamente");
					document.getElementById("start").value = undefined;
					document.getElementById("taxi_id").value = "1";
					$(".leaflet-marker-icon").remove();
					$(".leaflet-popup").remove();
					polyline2.remove();
				} else {
					mymap.setView([rows[0].Latitud, rows[0].Longitud]);
				}
				//Se remueven layers del mapa

				//Inicializar array de longitud igual a los datos obtenidos de la base de datos
				var latlon = Array(rows.length);
				//LLenar el array con los datos obtenidos de Latutud y Longitud
				for (i = 0; i < rows.length; i++) {
					latlon[i] = [rows[i].Latitud, rows[i].Longitud];
					//Generar marcadores cada 3 datos
					if (i % 3 == 0) {
						rows[i].Time = rows[i].Time.split(".000Z").join("");
						if (i == 0) {
							L.marker(latlon[i], {icon: customIcon})
								.addTo(mymap)
								.bindPopup("Inicio :" + rows[0].Time, {
									closeOnClick: true,
									autoClose: false,
									autoPan: false
								})
								.openPopup([rows[0].Latitud, rows[0].Longitud]);
						}
						L.marker(latlon[i], {icon: customIcon}).addTo(mymap).bindPopup(rows[i].Time);
					}
				}
				//Dibujar polilinea
				polyline1.addTo(mymap);
				polyline1.setLatLngs([latlon]);
			}

			//polyline carro 2
			async function getpolyline2(response2) {
				const data2 = await response2.json();
				const {rows} = data2;
				//Si no hay datos, se muestra una alarma
				if (rows[0] == undefined) {
					alert("El rango escogido no contiene datos para taxi#2 consulte nuevamente");
					document.getElementById("start").value = undefined;
					document.getElementById("taxi_id").value = "1";
					$(".leaflet-marker-icon").remove();
					$(".leaflet-popup").remove();
					polyline1.remove();
				} else {
					mymap.setView([rows[0].Latitud, rows[0].Longitud]);
				}
				//Se remueven layers del mapa

				//Inicializar array de longitud igual a los datos obtenidos de la base de datos
				var latlon = Array(rows.length);
				//LLenar el array con los datos obtenidos de Latutud y Longitud
				for (i = 0; i < rows.length; i++) {
					latlon[i] = [rows[i].Latitud, rows[i].Longitud];
					//Generar marcadores cada 3 datos
					if (i % 3 == 0) {
						rows[i].Time = rows[i].Time.split(".000Z").join("");
						if (i == 0) {
							L.marker(latlon[i], {icon: customIcon2})
								.addTo(mymap)
								.bindPopup("Inicio :" + rows[0].Time, {
									closeOnClick: true,
									autoClose: false,
									autoPan: false
								})
								.openPopup([rows[0].Latitud, rows[0].Longitud]);
						}
						L.marker(latlon[i], {icon: customIcon2}).addTo(mymap).bindPopup(rows[i].Time);
					}
				}
				//Dibujar polilinea
				polyline2.addTo(mymap);
				polyline2.setLatLngs([latlon]);
			}
		});
		//---------------------------------------------------------------------
		//Inicializar mapa 2 lealflet para consulta por radio
		const mymap2 = L.map("mapid2").setView([10.9861045, -74.80928094], 12);
		mymap2.doubleClickZoom.disable();
	
		const attribution2 =
			'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
		const tileUrl2 = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
		const tiles2 = L.tileLayer(tileUrl2, {attribution2});
		tiles2.addTo(mymap2);
	
		//Consulta
	
		customIcon = new L.Icon({
			iconUrl: "/img/circle.png",
			iconSize: [6, 6]
		});
		customIcon2 = new L.Icon({
			iconUrl: "/img/circlea.png",
			iconSize: [6, 6]
		});
		//----------------------------------------------------------------		
		let coord;
		let lat=[];
		let lng=[];
		let a;
		lat[1]= 10.9861045;
		lng[0] = -74.80928094;
		console.log("esta es lat1",lat[1]);
		consultaR(a);
		let circulo = L.circle([10.9861045, -74.80928094],{radius: 1000, color: "black"}).addTo(mymap2);	
		var slider = document.getElementById("radius")*1000;
		var output = document.getElementById("out")*1000;
		output.innerHTML = slider.value;
		slider.oninput = function() {
 	 	output.innerHTML = this.value;
  		circulo.setRadius(this.value); // Sets the radius of the circle to be the value of the slider
		}
		$('#radius').on('input', function(event) {
  		output.innerHTML = event.target.value*1000;
  		circulo.setRadius(event.target.value*1000);
		$(".leaflet-marker-icon").remove();
	    $(".leaflet-popup").remove();
		
	 	});	
		 $('#radius').on('change', function(event) {
  		consultaR(a);
	 	});	
		 $('#cerrarradio').on('click', function(event) {
			$(".leaflet-marker-icon").remove();
	    	$(".leaflet-popup").remove();
			lat[1]= 10.9861045;
			lng[0] = -74.80928094;
			circulo.setLatLng([10.9861045, -74.80928094]);
			document.getElementById("radius").value ="1"
			document.getElementById("out").value ="1"
			circulo.setRadius(1000);
			mymap2.setView([10.9861045, -74.80928094], 12);
	 	});	
		 $('#consultR').on('click', function(event) {
  		consultaR(a);
	 	});	
		
		
		
		//----------------------------------------------------------
					

					circulo.on({ mousedown:  function (){
                    mymap2.on('mousemove', async function (e) {
				    mymap2.dragging.disable();
              	    circulo.setLatLng(e.latlng);
					a = e.latlng;				
					
				    $(".leaflet-marker-icon").remove();
				    $(".leaflet-popup").remove();
            		});
         	 		}
      	 			}); 
       				mymap2.on('mouseup', function(e){
					mymap2.dragging.enable();
        			mymap2.removeEventListener('mousemove');
					
		})

		//--------------------------------------------------------------
		
	
		circulo.on( 'mouseup' , async function(e){
			a = e.latlng;
			circulo.setLatLng(e.latlng);
			coord = e.latlng.toString().split(",");
		    lat = coord[0].split("(");
			lng = coord[1].split(")");
			console.log("este es lat", lat)
			consultaR(a);
			}); 

		async function consultaR(a){
			var distance = document.getElementById("radius").value;
			
				
					//circulo.setLatLng(a);
					$(".leaflet-marker-icon").remove();
	    			$(".leaflet-popup").remove();
					
					response = await fetch(`http://${ip}/api/polyline/map/${lat[1]};${lng[0]};1`);
					const data_round_location = await response.json();
					response2 = await fetch(`http://${ip}/api/polyline/map/${lat[1]};${lng[0]};2`);
					const data_round_location2 = await response2.json();
									
					
					for (i = 0; i < data_round_location.length; i++) {
						if (data_round_location[i].distance < distance * 0.621371) {
							L.marker([data_round_location[i].Latitud, data_round_location[i].Longitud], {
								icon: customIcon
							})
								.bindPopup("<b>Taxi#1: </b>" + data_round_location[i].Time, {
									closeOnClick: false,
									autoClose: true,
									autoPan: false
								})
								.addTo(mymap2);
						}
					}
					for (i = 0; i < data_round_location2.length; i++) {
						if (data_round_location2[i].distance < distance * 0.621371) {
							L.marker(
								[data_round_location2[i].Latitud, data_round_location2[i].Longitud],
								{
									icon: customIcon2
								}
							)
								.bindPopup("<b>Taxi#2:</b> " + data_round_location2[i].Time, {
									closeOnClick: false,
									autoClose: true,
									autoPan: false
								})
								.addTo(mymap2);
						}
					}
					console.log(
						"You clicked the map at latitude: " + lat[1] + " and longitude:" + lng[0]
					);
				
		}	

		
	</script>
	
	<script>
		
	</script>
	
</html>
