@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
	background-color: #fcee2e;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
	font-size: 15%;
	margin :0;
	z-index: onde;
}

.tabla {
	border-bottom: 3px dashed black;
	font-size: 17px;
	border-collapse: collapse;
	border-spacing: auto;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	top:100px;
	
}

footer {
	background: black;
	color: white;
	text-align: center;
	height: auto;
	line-height: 100%;
	font-size: 18px;
	position: relative;
	top:100px;
}


#mapid {
	height: 450px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	z-index: 0;
	position: relative;
	top:100px;
}


@media screen and (max-width: 400px) and (min-width: 300px) {
	.head{
		float: left;
		text-align: center;
		border:none;
		padding: 9px;
		color: black;
		text-decoration: none;
		font-size: 20px;
		font-style: bold;
		background-color: #ffffff;
		
	
		background-repeat: no-repeat;
		width: auto;
		height:auto;	
	  }
	.tabla thead {
		display: none;
	}
	.tabla,
	.tabla tbody,
	.tabla tr,
	.tabla td {
		display: block;
		width: 100%;
		z-index: -1;
	}
	.tabla tr {
		margin-bottom: 15px;
	}
	.tabla td {
		text-align: left;
		padding-left: 50%;
		text-align: left;
		position: relative;
	}
	.tabla td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: bold;
		text-align: left;
	}
}
@media (max-width: 299px) {
	.tabla thead {
		display: none;
	}
	.tabla,
	.tabla tbody,
	.tabla tr,
	.tabla td {
		display: block;
		width: 100%;
		z-index: -1;
	}
	.tabla tr {
		margin-top: 35px;
		margin-bottom: 15px;
	}
	.tabla td {
		text-align: left;
		padding-left: 0%;
		text-align: center;
		position: relative;
	}
	.head{
		height:80px 
	}
	.logo{
		font-size: 2px;
	}
	.navbar{
		margin: top -20px;
		transform:translateX(-3%);
		
	}
	.navbar a{
		font-size:15px;
	}
}


  /* Style the navigation bar */
.navbar {
	width: auto;
	background-color: white;
	overflow: hidden;
	height: auto;
	float:right;
	position:relative;
	
  }
  .logo{
	  float:left;
	  font-family: 'Oswald';
	  font-size: 40px;
	  line-height: 5px;
	  font-style:bold;
	  
	
  }
  
  /* Navbar links */
  .navbar a {
	text-align: center;
	padding: 12px;
	color: black;
	text-decoration: none;
	font-size: 10px;
	height:auto;
	width: auto;
	box-sizing: border-box;
	
	transition: all 500ms;
	font-size: 16px;
	float:right;
	
  } /* Navbar links on mouse-over */
  .navbar a:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	position:relative;
	border-bottom: 5px solid black;
	bottom: 5px;
	z-index: 2;
  }
.head{
	float: left;
	text-align: center;
	border:none;
	padding: 9px;
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-style: bold;
	background-color: rgb(255, 255, 255);
	overflow:hidden;
	margin-bottom: 20px;
	top:0;
	z-index: 100;
	background-repeat: no-repeat;
	position:fixed;
	border-bottom: 5px solid black;
	width: 100%;
		
}
.wrap{ 
	width:90%; 
	max-width: 1180px;
	margin: auto;
	overflow:hidden;
}
  
 @media only screen and (min-width:437px) and (max-width:813px) {
	 .head{
		 height:70px 
	 }
	 .logo{
		 font-size: 30px;
	 }
	 .navbar{
		 margin: top -20px;
		 transform:translateX(-3%);
	 }
 }
 @media only screen and (min-width:348px) and (max-width:436px) {
	.head{
		height:70px 
	}
	.logo{
		font-size: 30px;
	}
	.navbar{
		margin: top -20px;
		transform:translateX(-3%);
	}
	.navbar a{
		font-size:12px;
		display: block;
	}
}
@media only screen and (min-width:300px) and (max-width:347px) {
	.head{
		height:70px 
	}
	.logo{
		font-size: 25px;
	}
	.navbar{
		margin: top -20px;
		transform:translateX(-3%);
	}
	.navbar a{
		font-size:9px;
		display: block;
	}
}
 @media (max-width: 299px) {
	.head{
		height:110px 
	}
	.logo{
		font-size: 20px;
	}
	.navbar{
		margin: top -20px;
		transform:translateX(-3%);
		
	}
	.navbar a{
		font-size:12px;
		display: block;
	}
}
  