body {
	background-image: url("/img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	font-size: 15%;
}

#container {
	width: auto;
	height: auto;
	max-width: auto;
	margin: 0px auto;
}

header {
	width: auto;
	font-size: 15px;
	border-bottom: 30px black;
	box-sizing: border-box;
}

#gorro2 {
	text-align: left;
	height: auto;
	width: auto;
	z-index: -1;
	box-sizing: border-box;
}

.tabla {
	border-bottom: 3px dashed black;
	font-size: 17px;
	border-collapse: collapse;
	border-spacing: auto;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

footer {
	background: black;
	color: white;
	text-align: center;
	height: auto;
	line-height: 100%;
	font-size: 18px;
}

#mapid {
	height: 450px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.historial {
	float: right;
	text-decoration: none;
	padding: 5px;
	font-weight: 600;
	font-size: 20px;
	height: 22%;
	margin: 2px;
	color: #ffffff;
	background-color: black;
	border-radius: 6px;
	border: 2px solid black;
	z-index: 1;
	animation: fadeIn;
	animation-duration: 2s;
}

.historial:hover {
	color: black;
	background-color: #ffee00;
}

.Enviar {
	float: right;
	text-decoration: none;
	padding: 5px;
	font-weight: 600;
	font-size: 20px;
	height: 19px;
	margin: 2px;
	margin-bottom: 7px;
	color: #ffffff;
	background-color: black;
	border-radius: 6px;
	border: 2px solid black;
	animation: fadeIn;
	animation-duration: 2s;
}
.Enviar:hover {
	color: black;
	background-color: #ffee00;
	cursor: pointer;
}

.index {
	float: right;
	text-decoration: none;
	padding: 5px;
	font-weight: 600;
	font-size: 20px;
	height: 19px;
	margin: 2px;
	color: #ffffff;
	background-color: black;
	border-radius: 6px;
	border: 2px solid black;
	animation: fadeIn;
	animation-duration: 2s;
}
.index:hover {
	color: black;
	background-color: #ffee00;
}

label {
	font-size: 20px;
	line-height: 110%;
}
#start {
	background-color: #ffee00;
	color: black;
	border-color: black;
	border-radius: 5px;
	width: auto;
	font-size: auto;
	height: auto;
	margin: 2px;
	margin-bottom: 7px;
}
#start:hover {
	cursor: pointer;
}

#end {
	background-color: #ffee00;
	color: black;
	border-color: black;
	border-radius: 5px;
	width: auto;
	font-size: auto;
	height: auto;
	margin: 2px;
	margin-bottom: 7px;
}

#end:hover {
	cursor: pointer;
}

@media screen and (max-width: 400px) and (min-width: 300px) {
	.tabla thead {
		display: none;
	}
	.tabla,
	.tabla tbody,
	.tabla tr,
	.tabla td {
		display: block;
		width: 100%;
		z-index: -1;
	}
	.tabla tr {
		margin-bottom: 15px;
	}
	.tabla td {
		text-align: left;
		padding-left: 50%;
		text-align: left;
		position: relative;
	}
	.tabla td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: bold;
		text-align: left;
	}
}
@media (max-width: 300px) {
	.tabla thead {
		display: none;
	}
	.tabla,
	.tabla tbody,
	.tabla tr,
	.tabla td {
		display: block;
		width: 100%;
		z-index: -1;
	}
	.tabla tr {
		margin-top: 35px;
		margin-bottom: 15px;
	}
	.tabla td {
		text-align: left;
		padding-left: 0%;
		text-align: center;
		position: relative;
	}
}

.content-select select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: auto;
	font-size: 15px;
	height: auto;
	background-color: #ffee00;
	border-radius: 5px;
	border-color: black;
	margin: 2px;
	border-width: 2px;
}

#taxi_id:hover {
	cursor: pointer;
}
